@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400;1,500;1,600&display=swap');

* {
    padding : 0;
    margin : 0;
    box-sizing : border-box;

    font-family : "Poppins" , sans-serif;
}

:root {
    --primary-color : #300c0c;
    --secondary-color : #1cc88a;
    --success-color : #36b9cc;
    --danger-color : #e74a3b;
    --warning-color : #f6c23e;
    --info-color : #858796;
    --light-color : #f8f9fc;
    --dark-color : #5a5c69;
    --white-color : rgb(255, 255, 255); 

    --font-color : #333333;
}



ul {
    list-style-type: none ;
}

a {
    text-decoration : none ; 
}

button {
    cursor: pointer;
    border : none ;
    background: none ;
}

img {
    width: 100% ; 
    display: block ;
}

.section-content {
    max-width : 1200px ;
    margin : 0 auto ;
    padding : 0 20px ;
}




header {
    position: fixed ;
    width: 100% ;
    z-index :5 ;
    background-color: var(--primary-color);
}

header .nav-bar {
    position: relative ;
    width: 200% ;
    display : flex ;
    padding: 28px  ;
    align-items: center;
    justify-content: space-between;

}


.nav-bar .nav-menu {
    display: flex ;
    gap : 15px ;
    margin-left: auto ;
}
.nav-bar .nav-logo .logo-text {
    color : var(--white-color) ; 
    font-size : 25px ;
    font-weight : 600;
}

.nav-bar .nav-menu .nav-link {
    padding: 7px 15px ;
    color : var(--white-color) ;
    border-radius : 10px ; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.3s; 


}

.nav-bar .nav-menu .nav-link:hover {
    background: #8a502e ;
    color : var(--white-color) ; 
    transition : 0.3s ease ;
}

#menu-open-button,
#menu-close-button {
    display : none ;
}

/* Hero Section */ 
.hero-section {
    background-color: #310707;
   display: flex ;
   align-items: center ; 
   min-height: 100vh ;
   color: var(--white-color);
}

.hero-section .hero-content {
    display: flex ;
    align-items: center ;
    min-height : 0vh ;
    color : var(--white-color) ;
    justify-content: space-between ; 


}

.hero-section .hero-detail .title {
    font-size : 37px ;
    color: #ad670b;
    font-weight : 600 ;
    font-family: 'Miniver', cursive ;
}

.hero-section .hero-detail .subtitle {
    margin-top : 20px ;
    font-size : 18px ;
    color : var(--light-color) ;
    max-width: 899px ;
}

.hero-section .hero-detail .description {
   max-width : 70% ;
   margin : 24px 0 40px ;
   font-size : 16px ;
}

.hero-section .hero-detail .bouton {
    padding : 12px 26px ; 
    border : 2px solid transparent ;
    color : var(--primary-color) ; 
    border-radius : 20px ;
    background-color: #8a502e;
    font-weight: 400;
    transition : 0.3s ease ;
    gap : 23px ;
    cursor: pointer;
    margin-right: 25px;
    
    
}

.hero-section .hero-detail .bouton:hover , 
.hero-section .hero-detail .Contacter {
    color :var(--white-color) ; 
    border-color: var(--white-color)  ;
    background : transparent ; 

}

.hero-section .hero-detail .Contacter:hover {
    color :var(--white-color) ;
    border-color : #572b11 ;
    background : #572b11 ;
}


.hero-section .hero-detail .hero-image-wrapper {
    max-width : 500px ;
    margin-right: 30px;
}

@media screen and (max-width:900px){

    body.show-mobile-menu  header::before {
        content : "";
        position : fixed ;
        left : 0 ;
        top : 0 ;
        height : 100% ;
        width : 100% ;
        backdrop-filter: blur(5px) ;
        background: rgba(0,0,0,0.2) ;
    }
    .nav-bar .nav-menu {
        display : block ;
        background : var(--white-color) ;
        position : fixed ; 
        left : -300px ;
        top: 0 ;
        width:300px ;     
        height :100% ;
        display : flex ;
        flex-direction : column ;
        padding-top :100px ;
        align-items: center;
        transition : left 0.3s ease ;

    }

    #menu-close-button,#menu-open-button {
        font-size : 15px ;
        display : block  ; 
    }

    .nav-bar #menu-close-button {
        position : absolute ;
        right :30px ;
        top: 30px ;

    }

    .nav-bar #menu-open-button {
        display : block ;
        position : fixed ;
        top : 30px ;
        right : 30px ;
        z-index : 10 ;
        color : var(--white-color) ;
        font-size : 15px ;

    }

    body.show-mobile-menu .nav-bar .nav-menu {
        left : 0 ; 
    }

    .nav-bar .nav-menu .nav-link {
        color : var(--dark-color) ;
        font-size : 20px ;
        display: block ;
        margin-top : 13px ;


    }

    .hero-section .section-content {
        flex-direction : column-reverse ; 
        text-align : center ; 
        padding : 30px 20px 20px ; 
        gap : 50px ; 
        justify-content: center ;

    }


    .hero-section .hero-detail :is(.subtitle , .description) {
        max-width : 100% ;

    }

    .hero-section .hero-detail .bouton {
        justify-content: center ;
    }

    
    .hero-section .hero-image.wrapper {
        max-width : 270px ;
        margin-right : 0px ;
    }



}





   